/* Center the login container */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white; /* White background */
    border-radius: 8px;      /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50; /* Green background for the button */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #45a049;
}

/* Navbar styling */
nav {
    background-color: #ffffff;
    padding: 10px;
    text-align: right;
}

nav a, .logout-link {
    text-decoration: none;
    color: #333;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
    background: none;
    border: none;
    font: inherit;
}

nav a:hover, .logout-link:hover {
    color: #417bb9;
}

/* Align navbar items */
.navbar a, .logout-link {
    margin-right: 15px;
}

/* For mobile responsiveness */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        text-align: left;
    }

    .navbar a, .logout-link {
        margin: 5px 0;
    }
}
